{% raw %}#! /usr/bin/env bash

# Export Flask Application
export FLASK_APP=/usr/bin/app.py

port=$(cat /tmp/port)

# Replace Port to nginx
sed -i "s/PORT/$port_number/g" /proxy.conf

# Start Web Application
/usr/local/bin/flask run --host=127.0.0.1 --port=$port

{% endraw %}